@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');
body{
 font-family: 'Roboto Slab', serif;
}

body a{
  color: inherit;
  text-decoration: none !important;
  border:none;
  outline:none;
}

.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  bottom: 20%;

}

.carousel-caption h1{
  font-weight: 700;
  text-shadow: 1px 1px 4px #222222;
  color: darkorange;
}

.carousel-caption h3{
  font-weight: 300;
  text-shadow: 1px 1px 5px #222222;
  color: orange;
}

@media only screen and (max-width: 1350px) {
  .carousel-caption{
    transform: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav li {
    margin: 0 auto;
  }
 .home-carousel-item{
   height: 50vh;
 }

}




.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-twitch{
  color: #6441a5;
  font-size: 4em;
  margin: 1rem;
}

.fa-hourglass-half{
  color: darkorange;
  font-size: 4em;
  margin: 1rem;
}

.fa-clipboard-list, .fa-comments, .fa-desktop, .fa-user-tie, .fa-video, .fa-users, .fa-cloud-upload-alt, .fa-helicopter, .fa-film,
.fa-globe-europe, .fa-calendar-alt, .fa-star, .fa-sync-alt, .fa-hashtag, .fa-envelope-open-text{
  font-size: 4em;
  margin: 1rem;
  color: darkorange;
}

.fa-facebook-f{
  font-size: 5em;
  margin: 1rem;
  color: #4267B2;
}


.ps-logo{
  height: 4em;
  margin: 1rem;
}

.card{
  margin: 0 auto;
}

.carousel-indicators{
 color: darkorange;
}

/* FOOTER */

footer{
  background-color: #222222;
  color: #999999;
  padding-top: 2rem;
}
footer hr{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin: .8rem auto 1rem;
}
footer a,a:hover, a:visited{
  color: inherit;
  border:none;
  outline:none;
  text-decoration:none;
}

hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin: .8rem auto 1rem;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

@media only screen and (max-width: 500px) {
  .parallax-window {
    min-height: 250px;
  }

}



